{% extends 'store/base.html' %}


{% block title %}
    cart
{% endblock title %}
    


{% block content %}
<div class="cart-container">
    <table>
        <div class="continue-shopping">
            <a href="{% url 'home' %}"><button>&larr; Continue Shopping</button></a>
        </div>
        <hr>
        {% if cart_items %}
        <thead>
            <tr>
                <th>Items: <strong>{{ total_quantity }}</strong></th>
                <th>Total: <strong>$ {{ order_total }}</strong></th>
                <th class="checkout"><a href="{% url 'checkout' %}"><button type="button">Checkout</button></a></th>
            </tr>
        </thead>
        {% endif %}
    </table>

    <div class="cart-elements-container">
        {% if cart_items %}
        <div class="cart-element-header">
            <div class="cart-item-image"></div>
            <div class="cart-item-name"><strong>Item</strong></div>
            <div class="cart-item-quantity"><strong>Quantity</strong></div>
            <div class="cart-item-price"><strong>Price</strong></div>
            <div class="cart-item-total"><strong>Total</strong></div>
        </div>
        <hr>

        {% endif %}
        <div class="cart-element">
            {% if cart_items %}
            {% for item in cart_items %}
            <div class="cart-item-image"><img src="{{ item.imageURL }}" alt="" width="20%"></div>
            <div class="cart-item-name">{{item.name}}</div>
            <div class="cart-item-quantity">  
                {{ item.quantity }}
                
                <!-- <p><span>&#9652</span><span>&#9662</span></p> -->
            </div>
            
            {% if item.is_sale %}
            <div class="cart-item-price">$ {{item.sale_price}}</div>
            {% else %}
            <div class="cart-item-price">$ {{item.price}}</div> 
            {% endif %}
            <div class="cart-item-total">$ {{item.total_price}}</div>
            {% endfor %}
            {% else %}
            <br><br><br><br><br><br>
            <h1>Nothing in your cart... <a href="{% url 'home' %}">Continue Shopping</a></h1>
            {% endif %}
        </div>
        
   
    </div>
</div>
{% endblock content %}
    