{% extends 'store/base.html' %}


{% block title %}
    cart
{% endblock title %}
    


{% block content %}
<div class="cart-container">
    <table>
        <div class="continue-shopping">
            <a href="{% url 'home' %}"><button>&larr; Continue Shopping</button></a>
        </div>
        <hr>
        {% if cart_items %}
        <thead>
            <tr>
                <th>Items: <strong>{{ total_quantity }}</strong></th>
                <th>Total: <strong>$ {{ order_total }}</strong></th>
                
                {% if user.is_authenticated %}
                <th class="checkout"><a href="{% url 'checkout' %}"><button type="button">Checkout</button></a></th>
                {% else %}
                <th class="checkout"><a href="{% url 'login' %}"><button type="button">Checkout</button></a></th>
                {% endif %}
                    
            </tr>
        </thead>
        {% endif %}
    </table>

    <div class="cart-elements-container">
        {% if cart_items %}
        <div class="cart-element-header">
            <div class="cart-item-image"></div>
            <div class="cart-item-name"><strong>Item</strong></div>
            <div class="cart-item-quantity"><strong>Quantity</strong></div>
            <div class="cart-item-price"><strong>Price</strong></div>
            <div class="cart-item-total"><strong>Total</strong></div>
        </div>
        <hr>

        {% endif %}
            <div class="cart-element">
                {% if cart_items %}
                    {% for item in cart_items %}
                        <div class="cart-item-image"><img src="{{ item.imageURL }}" alt="" width="100%"></div>
                        <div class="cart-item-name">{{ item.name }}</div>
                        <div class="cart-item-quantity"> 
                           <p class="quantity"> <span ><input type="number" value="1" min="1" max="{{ stock_quantity }}"></span>
                            <button type="button" data-index="{{item.id}}" class="update-cart">Update</button>
                        </p>
                            
                            <!-- <button class="minus-btn" data-id="{{ item.id }}" style="padding: .3em .5em;">&minus;</button> -->
                            
                            <!-- <span>{{ item.quantity }}</span> -->
                            <!-- <button class="plus-btn" data-id="{{ item.id }}" style="padding: .3em .5em;">&plus;</button> -->
                        </div>
            
            {% if item.is_sale %}
            <div class="cart-item-price">$ {{item.sale_price}}</div>
            {% else %}
            <div class="cart-item-price">$ {{item.price}}</div> 
            {% endif %}
            <div class="cart-item-total">$ {{item.total_price}}</div>
            {% endfor %}
            {% else %}
            <br><br><br><br><br><br>
            <h1>Nothing in your cart... <a href="{% url 'home' %}">Continue Shopping</a></h1>
            {% endif %}
        </div>
        
   
    </div>
</div>

<script>
    $(document).on('click', '.update-cart', function(e){
        e.preventDefault();
        var productId = $(this).val(); // Get the value of the clicked button (which is the specific product ID)
        var productQty;

        // Check if the quantity input is present in the current context (product page)
        if ($(this).closest('.quantity').find('input[type="number"]').length) {
            productQty = $(this).closest('.quantity').find('input[type="number"]').val();
        } else {
            // If the quantity input is not found, default to 1 (home page)
            productQty = 1;
        }
        
        $.ajax({
            type: 'POST',
            url: '{% url "cart_update" %}',
            data: {
                product_id: productId,
                product_qty: productQty,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err){
                // Handle error
            }
        });
    });

</script>


{% endblock content %}
    