{% extends 'store/base.html' %}


{% block title %}
    cart
{% endblock title %}
    


{% block content %}
<div class="cart-container">
    <table>
        <div class="continue-shopping">
            <a href="{% url 'home' %}"><button>&larr; Continue Shopping</button></a>
        </div>
        <hr>
        {% if cart_items %}
        <thead>
            <tr>
                <th>Items: <strong>5</strong></th>
                <th>Total: <strong>$ 500</strong></th>
                <th class="checkout"><a href="{% url 'checkout' %}"><button type="button">Checkout</button></a></th>
            </tr>
        </thead>
    </table>

    <div class="cart-elements-container">
        <div class="cart-element-header">
            <div class="cart-item-image"></div>
            <div class="cart-item-name"><strong>Item</strong></div>
            <div class="cart-item-quantity"><strong>Quantity</strong></div>
            <div class="cart-item-total"><strong>Total</strong></div>
        </div>
        <hr>

        
        <div class="cart-element">
            {% for item in cart_items %}
            <div class="cart-item-image"><img src="{{ item.imageURL }}" alt="" width="20%"></div>
            <div class="cart-item-name">{{item.name}}</div>
            <div class="cart-item-quantity">3 
                <p><span>&#9652</span><span>&#9662</span></p>
            </div>
            <div class="cart-item-total">$ {{item.price}}</div>
            {% endfor %}
        </div>
        {% else %}
        <div class="cart-element">
            <br><br><br><br><br><br><br><br><br>
            <h1>Nothing in your cart... <a href="{% url 'home' %}">Continue Shopping</a></h1>
        </div>
        {% endif %}
   
    </div>
</div>
{% endblock content %}
    