{% extends 'base.html' %}


{% block title %} Bells {% endblock title %}
    

{% block content %}
        
    <!-- Container -->
        <!-- Header -->
        <!-- Product Cart Container -->
        <div class="products-container">
            <!-- Product card -->
            <div class="product-card">
                <div class="product-image">
                    <a href="product.html"><img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%"></a>
                </div>
                <div class="card-text">
                    <h4>Blue Canvas Shoes</h4>
                    <p>
                        <strong>
                            <span id="price"><strike>$ 700</strike></span>
                            <span id="sale-price">$ 490</span>
                        </strong>
                    </p>
                    <p class="star">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                    <div class="card-btn">
                        <a href="product.html"><button type="button">View</button></a>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
                <div class="sales-badge">
                    <p>Sale</p>
                    <p id="percentage-discount">-30%</p>
                </div>
                <div class="new-product">New</div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="sales-badge">Sale</div>
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="/static/images/childrens-shoes1.jpg" alt="product" width="100%">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
         </div> <!-- Product card container end -->
{% endblock content %}
    