{% for product in products %}
<div class="product-card">
    <div class="product-image">
        <a href="{% url 'product' %}"><img src="{{ product.image.url }}" alt="product" width="100%"></a>
    </div>
    <div class="card-text">
        <h4>{{ product.name }}</h4>
        <p>
            <strong>
                <span id="price"><del>$ {{ product.price }}</del></span> &nbsp;
                <span id="sale-price">$ {{product.sale_price }}</span>
            </strong>
        </p>
        
        {% if product.is_sale %}
        <p class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        {% else %}
        <p class="star">&#9734;&#9734;&#9734;&#9734;&#9734;</p>
        {% endif %} 
        <div class="card-btn">
            <a href="{% url 'product' %}"><button type="button">View</button></a>
            <button type="button">Add to Cart</button>
        </div>
    </div>
    {% if product.is_sale %}
    <div class="sales-badge">
        <p>Sale</p>
        <p id="percentage-discount">- 30%</p>
    </div>
    {% else %}
    {% endif %}

    {% if product.is_new %}
    <div class="new-product">New</div>
    {% else %}
    {% endif %}
        
</div>
{% endfor %}










<!-- {% for product in products %}
<div class="product-card">
    <div class="product-image">
        <a href="{% url 'product' %}"><img src="{{ product.image.url }}" alt="product" width="100%"></a>
    </div>
    <div class="card-text">
        <h4>{{ product.name }}</h4>
        <p>
            <strong>
                <span id="price"><del>$ {{ product.price }}</del></span> &nbsp;
                <span id="sale-price">$ {{product.sale_price }}</span>
            </strong>
        </p>
        <p class="star">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
        <div class="card-btn">
            <a href="{% url 'product' %}"><button type="button">View</button></a>
            <button type="button">Add to Cart</button>
        </div>
    </div>
    <div class="sales-badge">
        <p>Sale</p>
        <p id="percentage-discount">- 30%</p>
    </div>
    <div class="new-product">New</div>
</div>
{% endfor %} -->
    