{% extends 'base.html' %}


{% block title %}
    Product
{% endblock title %}
    


<!-- Container -->

{% block content %}
    
    <!-- Product Cart Container -->
    <div class="product-container">
        <div class="product-image-card">
            <div class="profile-image">
                <img src="{{ product.image.url }}" alt="Product" width="100%">
            </div>
            <div class="product-images">
                <div class="image"><img src="{{ product.image.url }}" alt="Product" width="100%"></div>
                <div class="image"><img src="{{ product.image.url }}" alt="Product" width="100%"></div>
                <div class="image"><img src="{{ product.image.url }}" alt="Product" width="100%"></div>
                <div class="image"><img src="{{ product.image.url }}" alt="Product" width="100%"></div>
            </div>
        </div>
        <div class="product-information">
            <h3>LEVI'S WOMEN'S XL TRUCKER JACKET</h3> 
            <h4>Price: <del>$170</del>&nbsp; $140</h4>
            <p>Lorem,  dolor eveniet alias eos ullam nesciunt voluptatum.</p>
            <p>Lorem ipsum dolor  delectus, maxime inventore optio fuga nisi?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellat odit dolor incidunt quaerat quo saepe unde asperiores, consectetur eum esse, quam, impedit dolores vel ea. Iste, suscipit, nesciunt laboriosam cum officia magnam dolores pariatur qui labore totam eum a eveniet ullam optio expedita et possimus maxime saepe sunt quidem.</p>

            <div class="sizes">
                <p>Size:</p>
                <select name="Size" id="size" class="size-option">
                    <option value="xxl">XXL</option>
                    <option value="xl">XL</option>
                    <option value="medium">Medium</option>
                    <option value="small">Small</option>
                </select>
            </div>

            <div class="quantity">
                <input type="number" value="1" min="1">
                <button>Add to Cart</button>
            </div>
        </div>
    </div>

{% endblock content %}
