{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <!-- Register form -->
<div class="body-container">
    <div class="container">
        <div class="form-container">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="img">
                    <img src="/static/images/avatar.png" alt="avatar" class="avatar" width="20%"> 
                </div>
                <div class="login-container">
                    
                    {% for field in form %}
                    {{field.label}}
                    <div class="form-input"> {{field}}</div>
                    {% endfor %}
                    
                <button type="submit">Register</button>
                    
                </div>
                <div class="login-container">
                    <a href="{% url 'home' %}"><button type="button" class="cancelbtn" id="cancel-signup-button">Cancel</button></a>
                    <span class="password">Already have accout? <a href="{% url 'home' %}">Login.</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
