{% extends 'store/base.html' %}


{% block title %}
    Bells Online Shop
{% endblock title %}
    


{% block content %}
<div class="container">
    <header>
        <div class="hero-header">
            <h1>bellaDIAMONDS</h1>
        </div>
    </header>

    <section>
        <h3 class="section-title">Products</h3>
        {% include 'store/product_card.html' %}
    </section>
    <section>
        <h3 class="section-title">Products on Sale</h3>
        {% include 'store/product_card.html' %}
    </section>
    <section>
        <h3 class="section-title">New Products</h3>
        {% include 'store/product_card.html' %}
    </section>
    <section>
        <h3 class="section-title">Featured Products</h3>
        {% include 'store/product_card.html' %}
    </section>


</div>

{% endblock content %}
    

