{% extends 'store/base.html' %}


{% block title %}
    Bells Online Shop
{% endblock title %}
    


{% block content %}
<div class="container">
    {% include 'store/header.html' %}

    <section>
        <h3 class="section-title">Products</h3>
        <div class= "product-container">
        {% for product in products %}
            {% include 'store/product_card.html' %}
        {% endfor %}
    </div>
    </section>

    <section>
        <!-- Render products on sale -->
        <h3 class="section-title"><a href="{% url 'sale_products' %}"></a>Products on Sale</h3>
        <div class= "product-container">
        {% for product in sale %}
            {% include 'store/product_card.html' %} 
        {% endfor %}
    </div>
    </section>

    <section>
        <h3 class="section-title">New Products</h3>
        <div class= "product-container">
        <!-- Render new products -->
        {% for product in new %}
            {% include 'store/product_card.html' %} 
        {% endfor %}
        </div>
    </section>

    <section>
        <h3 class="section-title">Featured Products</h3>
        <div class= "product-container">
        {% for product in featured %}
            {% include 'store/product_card.html' %}
        {% endfor %}
        </div>
    </section>

</div>

{% endblock content %}
    

