.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar a {
  color: black;
}

.navbar-links ul{
  list-style: none;
  display: flex;
}

.navbar-links li{
  padding: .8em;
}

.navbar-links li:hover, .cart:hover {
  background-color: orange;
  cursor: pointer;
}

.logo {
  padding: .6em 2em;
}

.cart {
  padding: .6em 2em;
  position: relative;
}

.cart .cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: 2px;
  right: 15px;
}

.navbar-mobile .hide {
  display: none;
}

@media (max-width: 600px) {
  .navbar {
    display: block;
  }

  .cart {
    display: none;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links.show {
    display: block;
  }

  .navbar-links ul{
    display: block;
  }

  .navbar-links ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .navbar-links ul li:last-of-type {
    border-bottom: none;
  }

  .navbar-mobile a{
    padding: .3em 1em;
  }

  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .navbar-mobile .hide {
    display: flex;
  }

  .cart-mobile {
    position: relative;
  }
  
  .cart-mobile .cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 4px;
    position: absolute;
    top: 2px;
    right: 5px;
  }
}


.dropdown {
  position: relative;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -1.5em;
  margin-top: .5em;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 2em;
  text-decoration: none;
  display: block;
  margin: 1em;
}

.dropdown-content .login-button {
  background-color: rgb(208, 243, 243);
}

.dropdown-content a:hover {
  background-color: orange;
}

@media (max-width: 600px) {
  .dropdown .dropdown-content {
    width: 100%;
    text-align: center;
    margin-top: 2em;
  }

  .dropdown-content a:first-child {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  .hide-on-mobile {
    display: none;
  }
}


