{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admin/style.css' %}">
</head>
<body>

<div class="form-container">
    <h2 class="form-heading">Sign Up</h2>
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class="img">
            <img src="/static/images/avatar.png" alt="avatar" class="avatar" width="20%"> 
        </div>
        <div class="input-container">
            
            {% for field in form %}
                {{field.label}}
                <div class="form-input"> {{field}}</div>
            {% endfor %}
                

            <button type="submit">Signup</button>
            
        </div>
        <div class="signup-actions">
            <span>Already have accout? <a href="{% url 'signin' %}">Sign in.</a></span>
        </div>
    </form>
</div>


<script>
    let formFields = document.getElementsByTagName('input');
    formFields[1].placeholder = 'Enter First Name';
    formFields[2].placeholder = 'Enter Last Name';
    formFields[3].placeholder = 'Enter Username';
    formFields[4].placeholder = 'Enter  Email Addres';
    formFields[5].placeholder = 'Enter Password';
    formFields[6].placeholder = 'Re-enter Password';

    for (let field in formFields) {
        formFields[field].className += ' form-input'
    }
</script>
</body>
</html>

