{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admin/style.css' %}">
</head>
<body>

<div class="form-container">
    <h2>Signup Form</h2>
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class="img">
            <img src="/static/images/avatar.png" alt="avatar" class="avatar" width="20%"> 
        </div>
        <div class="input-container">
            <label for="fname">First Name</label>
            <input type="text" placeholder="Enter First Name" name="fname" id="fname" autocomplete="fname" required>
            
            <label for="lname">Last Name</label>
            <input type="text" placeholder="Enter Last Name" name="lname" id="lname" autocomplete="lname" required>
            
            <label for="email">Email</label>
            <input type="email" placeholder="Enter Email" name="email" id="email" autocomplete="email" required>

            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <label for="password">Repeat Password</label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Signup</button>
            
        </div>
        <div class="signup-actions">
            <a href="{% url 'signin' %}"><button type="button" class="cancelbtn" id="cancel-signup-button">Cancel</button></a>
            <span class="password">Already have accout? <a href="{% url 'signin' %}">Sign in.</a></span>
        </div>
    </form>
</div>
</body>
</html>

