{% extends 'base.html' %}


{% block title %}
    Ecommerce Website
{% endblock title %}
    

{% block content %}
 
        <header>
            <div class="header">

                {% if messages %}
                    
                    {% for message in messages %}
                        <h5>{{ message }}</h5>
                    {% endfor %}
                        
                {% endif %}

                <h1>Bella Online Shop</h1>
            </div>
        </header>

        <!-- page content -->
        <div class="container">
            
            {% for product in products %}
            <div class="card">
                <div class="image">
                    <img src="{{ product.image.url }}" alt="">
                </div>
                <div class="card-text">
                    <h5>{{ product.name }}</h5>
                    <p>$ {{ product.price }}</p>
                    <div class="card-btn">
                        <button type="button">View</button>
                        <button type="button">Add to Cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="card">
                <div class="image">
                    <img src="/static/images/p2.png" alt="">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <button type="button">View</button>
                    <button type="button">Add to Cart</button>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/images/purse.png" alt="">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <button type="button">View</button>
                    <button type="button">Add to Cart</button>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/images/p3.png" alt="">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <button type="button">View</button>
                    <button type="button">Add to Cart</button>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/images/p7.png" alt="">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <button type="button">View</button>
                    <button type="button">Add to Cart</button>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/images/p8.png" alt="">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <button type="button">View</button>
                    <button type="button">Add to Cart</button>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/images/purse.png" alt="">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <button type="button">View</button>
                    <button type="button">Add to Cart</button>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/images/saving-img.png" alt="">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <button type="button">View</button>
                    <button type="button">Add to Cart</button>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/images/p1.png" alt="">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <button type="button">View</button>
                    <button type="button">Add to Cart</button>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/images/p3.png" alt="">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <button type="button">View</button>
                    <button type="button">Add to Cart</button>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/images/purse.png" alt="">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <button type="button">View</button>
                    <button type="button">Add to Cart</button>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/images/p7.png" alt="">
                </div>
                <div class="card-text">
                    <h5>Name</h5>
                    <p>$ 500</p>
                    <button type="button">View</button>
                    <button type="button">Add to Cart</button>
                </div>
            </div>
        </div>
    <!-- footer -->
    <footer>
        <div class="footer">
            <h5>&copy;SQcodes | 2024</h5>
        </div>
    </footer>

    <div class="foot">
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg></a>
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a>
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m260-520 220-360 220 360H260ZM700-80q-75 0-127.5-52.5T520-260q0-75 52.5-127.5T700-440q75 0 127.5 52.5T880-260q0 75-52.5 127.5T700-80Zm-580-20v-320h320v320H120Zm580-60q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29Zm-500-20h160v-160H200v160Zm202-420h156l-78-126-78 126Zm78 0ZM360-340Zm340 80Z"/></svg></a>
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg></a>
    </div>
{% endblock content %}
    