{% extends 'store/base.html' %}
{% load static %}

{% block title %}
    Ecom
{% endblock title %}
    

{% block content %}
    {% include 'store/include/hero.html' %}
    <section>
        <h3 class="section-title">Products</h3>
        <div class= "product-container">
            {% include 'store/card.html' %}
            {% include 'store/card.html' %}
            {% include 'store/card.html' %}
            {% include 'store/card.html' %}
            {% include 'store/card.html' %}
        </div>
    </section>

    <section>
        <h3 class="section-title">New Products</h3>
        <div class= "product-container">
            {% include 'store/card.html' %}
        </div>
    </section>
    <section>
        <h3 class="section-title">Products on Sale</h3>
        <div class= "product-container">
            {% include 'store/card.html' %}
        </div>
    </section>
    <section>
        <h3 class="section-title">Featured Products</h3>
        <div class= "product-container">
            {% include 'store/card.html' %}
        </div>
    </section>
{% endblock content %}
    