
.product-card {
    width: 19.6%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-bottom: .5em;
    /* box-shadow: 0 2px 2px rgba(0,0,0,0.2); */
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: .3em;
    margin: .5em 0;
}

.product-image {
  width: 100%;
}

.product-image img{
  max-width: 100%;
  max-height: 200px;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.card-text {
  background-color: rgb(169, 179, 179);
  padding: .5em;
  border-radius: 0 0 5px 5px;
}

.card-text p strong {
  padding: .5em;
}

.card-text p strike {
  color: red;
}

.star {
  color: rgb(255, 128, 0);
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

.card-btn {
  display: flex;
  justify-content: space-around;
}

.card-btn button {
  padding: .5em 1.5em;
  background-color: orange;
  border: none;
}

.card-btn a button:first-of-type {
  border-radius: 0 5px 0 5px; 
  box-shadow: 0 1px 0px 1px rgba(255, 255, 255, 0.4);
}

.card-btn button:first-of-type {
  border-radius: 0 5px 0 5px; 
  box-shadow: 0 1px 0px 1px rgba(255, 255, 255, 0.4);
}

.card-btn button:last-of-type {
  border-radius: 5px 0 5px 0; 
  box-shadow: 1px 1px 0 1px rgba(255, 255, 255, 0.4);
}

.card-btn button:hover {
  background-color: white;
  cursor: pointer;
}

.product-card {
  position: relative;
}

.sales-badge {
  position: absolute; 
  top: 0;
  right: 0;
  background-color: red;
  color: white; 
  padding: 0.4em;
  border-radius: 0 5px 0 10px;
}

.new-product {
  position: absolute; 
  top: 0.4em; 
  left: 0px; 
  background-color: black;
  color: white; 
  padding: 0.5em;
  transform: rotate(-45deg); 
  transform-origin: center ; 
  border-radius: 50%;
}

@media (max-width: 1100px) {
  .product-card {
    width: 24%;
  }
}

@media (max-width: 900px) {
  .product-card {
    width: 32%;
  }
}

@media (max-width: 700px) {
  .product-card {
    width: 48%;
  }
}

@media (max-width: 500px) {
  .product-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .product-image img{
    max-width: 100%;
    max-height: 300px;
  }
}