{% extends 'store/base.html' %}


{% block title %} Bells {% endblock title %}
    

{% block content %}
        
    <!-- Container -->
        <!-- Header -->
        {% include 'store/hero.html' %}
        <!-- Product Cards Container -->
<div class="container-all">
    <div class="section-title"><h1>Products</h1></div>
    <section>
        <div class="products-container">
            <!-- Render all products -->
            {% for product in products %}
                {% include 'store/include/card.html' %} 
            {% endfor %}
        </div>  
    </section>

    <div class="section-title"><h1><a href="{% url 'sale' %}">Products On Sale</a></h1></div>
    <section>
        <div class="products-container">
            <!-- Render products on sale -->
            {% for product in sale %}
                {% include 'store/include/card.html' %} 
            {% endfor %}
        </div>
    </section>

    <div class="section-title"><h1><a href="{% url 'new' %}">New Products</a></h1></div>
    <section>
        <div class="products-container">
            <!-- Render new products -->
            {% for product in new %}
                {% include 'store/include/card.html' %} 
            {% endfor %}
        </div>
    </section>
</div>

{% endblock content %}
    