


          <!-- Register form -->

            <div class="form-container">
                <form action="" method="post" class="register-form">
                    <div class="img">
                        <span id="close-signup-form" class="close"><a href="index.html">&times;</a></span>
                        <img src="images/avatar.png" alt="avatar" class="avatar" width="20%"> 
                    </div>
                    <div class="login-container">
                        <label for="fname">First Name</label>
                        <input type="text" placeholder="Enter First Name" name="fname" id="fname" autocomplete="fname" required>
                        
                        <label for="lname">Last Name</label>
                        <input type="text" placeholder="Enter Last Name" name="lname" id="lname" autocomplete="lname" required>
                        
                        <label for="email">Email</label>
                        <input type="email" placeholder="Enter Email" name="email" id="email" autocomplete="email" required>
    
                        <label for="password">Password</label>
                        <input type="password" placeholder="Enter Password" name="password" id="password" required>

                        <label for="password">Repeat Password</label>
                        <input type="password" placeholder="Enter Password" name="password" id="password" required>
    
                        <button type="submit">Register</button>
                        
                    </div>
                    <div class="login-container">
                        <button type="button" class="cancelbtn" id="cancel-signup-button"><a href="index.html">Cancel</a></button>
                        <span class="password">Already have accout? <a href="login.html">Login.</a></span>
                    </div>
                </form>
            </div>
