{% extends 'store/base.html' %}
{% load static %}

{% block title %}
    Ecom
{% endblock title %}
    

{% block content %}
    {% include 'store/include/hero.html' %}
    <section>
        <h3 class="section-title"><a href="{% url 'home' %}">Products</h3></a>
        <div class= "product-container">
            
            {% for product in products %}
            {% include 'store/include/product_card.html' %}
            {% endfor %}
        </div>
    </section>

    <section>
        <h3 class="section-title"><a href="{% url 'new' %}">New Products</h3></a>
        <div class= "product-container">
            {% for product in new_products %}
            {% include 'store/include/product_card.html' %}
            {% endfor %}
        </div>
    </section>
    <section>
        <h3 class="section-title"><a href="{% url 'sale' %}">Products on Sale</h3></a>
        <div class= "product-container">
            {% for product in sale_products %}
            {% include 'store/include/product_card.html' %}
            {% endfor %}
        </div>
    </section>
    <section>
        <h3 class="section-title"><a href="{% url 'featured' %}">Featured Products</h3></a>
        <div class= "product-container">
            {% for product in featured_products %}
            {% include 'store/include/product_card.html' %}
            {% endfor %}
        </div>
    </section>
{% endblock content %}
    