* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #677170;
    --text-color: #000000;
    --background-color: #d3d3d3;
    --white: #ffffff;
    --dark: #696868;
}

html {
    font-size: 18px;
}

body {
    min-height: 100vh;
    background-image: url(images/g15.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    /* height: 100vh; */
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.navbar li {
    width: 100%;
}

.navbar a {
    width: 100%;
}

/* later */
.menu-button {
    display: none;
}

@media (max-width: 680px) {
    .hideOnMobile {
        display: none;
    }

/* later */
.menu-button {
    display: block;
}
}

@media (max-width: 480px) {
    .navbar {
        width: 100%;
    }
}

/* Side bar */

.toggle-button {
    display: none;
}

.side-bar {
    width: 18%;
    background-color: var(--main-color);
    position: fixed;
    height: 100vh;
}

.side-bar a {
    border-bottom: 2px solid var(--white);
    padding: .5em;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    display: block;
}

.side-bar a:hover {
    background-color: var(--white);
}

.side-bar.show {
    display: block;
    z-index: 1000;
    position: absolute;
}

/* page content*/
.container {
    margin: 0;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    margin-left: 18.5%; 
}


@media (max-width: 700px) {
    .toggle-button {
        display: flex;
    }

    .side-bar {
        position: absolute;
        display: none;
        height: fit-content;
        width: 100%;
    }
    .container {
        flex-direction: column;
        margin-left: 0;
        padding: .5em;
    }
}






/* login form */


.form-container {
    width: 50%;
    margin: 1.5em auto;
}

.login-container {
    padding: 1.5em;
}

form {
    border: 2px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 1em 1.1em;
    margin: .5em 0;
    display: inline-block;
    border: 1px splid #c1c1c1;
    box-sizing: border-box;
}

button {
    color: white;
    background-color: #04aa6d;
    margin: .5em 0;
    padding: 1em 1.5em;
    border: none;
    cursor: pointer;
    border: none;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: .8em 1em;
    background-color: #f44339;
}

.img {
    text-align: center;
    margin-top: 1.5em;
}

img.avatar {
    border-radius: 50%;
}

span.password {
    float: right;
    padding-top: 1em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    /* padding: 3em; */
}

.modal-content {
   background-color: #f1f1f1;
   position: relative; 
}

.close {
    position: absolute;
    right: 1em;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f44339;
    cursor: pointer;
}

/* zoom animation */
.animate {
    animation: animatezoom 0.6s;
}

@keyframes animatezoom {
    from { transform: scale(0);}
    to {
        transform: scale(1);
    }
}

/* break point */

@media  screen and (max-width: 680px) {
    span.password {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }
}


