*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: orange;
    --white-color: white;
    --black-color: black;
}

html {
font-size: 16px;
}

body {
min-height: 100vh;
width: 100%;
}

a {
text-decoration: none;
}

.container {
min-height: 100vh;
background-color: orange;
width: 100%;
margin: 3em auto;
margin-bottom: 2em;
padding: .5em;
position: relative;
}
.content {
  min-height: 80vh;
}

.admin-dashboard .container .content {
  display: flex;
  width: 100%;
  
}

.admin-dashboard .container .content .side-bar {
  min-height: 100vh;
  flex: 15%;
  border: 2px solid blue;
  background-color: aquamarine;
  position: sticky;
  top: 6em; 
  z-index: 100;
}

.admin-dashboard .container .content .main-content{
  flex: 55%;
  border: 2px solid blue;
}

.admin-dashboard .container .content .side-right{
  flex: 23%;
  border: 2px solid blue;
}


@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 3em 0 .5em 0;
        
    }
}


















/* Footer */
.footer {
    text-align: center;
    background-color: white;
  }
  
  /* Fixed footer for mobile devices */
  
  .foot {
    background-color: white;
    font-size: 1rem;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
  }
  
  .foot .foot-menu {
    display: block;
  }
  
  .foot a {
    color: black;
  }
  
  .foot ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .foot li {
    padding: .5em 1.5em;
    text-align: center;
  }
  
  .foot li:hover {
    background-color: orange;
    cursor: pointer;
  }
  
  .foot .foot-cart {
    position: relative;
  }
  
  .foot .cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 4px;
    position: absolute;
    margin: 0;
    top: 5px;
    right: 15px;
  }
  
  @media (max-width: 600px) {
    .foot {
      display: block;
    }
  }
  