*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: orange;
    --white-color: white;
    --black-color: black;
}

html {
font-size: 16px;
}

body {
min-height: 100vh;
width: 100%;
}

a {
text-decoration: none;
}

.admin-dashboard .container {
min-height: 100vh;
width: 100%;
margin-bottom: 0;
padding: .5em;
}


.admin-dashboard .container .side-bar {
  min-height: 100vh;
  width: 20%;
  margin-top: 2em;
  background-color: rgb(195, 205, 201);
  position: sticky;
  position: -webkit-sticky;
  top: 2em; 
  z-index: 100;
  float: left;
}

.admin-dashboard .container .side-bar .menu-item {
  padding: 1em;
  border-bottom: 1px solid rgb(254, 254, 254);
  display: flex;
  align-items: center;
}

.admin-dashboard .container .side-bar a {
  margin-left: .5em;
}


.admin-dashboard .container .content {
  display: flex;
  width: 80%;
  margin-top: 3em;
  justify-content: space-between;
  min-height: 1600px;
  margin-left: 20%;
}



.admin-dashboard .container .content .main-content{
  flex: 60%;
  padding: 1em;
}

.admin-dashboard .container .content .side-right{
  flex: 20%;
  padding: 1em;
  background-color: rgb(195, 205, 201);
  
}


@media (max-width: 600px) {
  .admin-dashboard .container {
    width: 100%;
    margin: 3em 0 .5em 0;
        
  }

  .admin-dashboard .side-bar {
    display: none;
  }

  .admin-dashboard .container .content {
    width: 100%;
    margin-left: 0;
    display: block;
    background-color: rgb(195, 205, 201);
  }


}


















/* Footer */
.footer {
    text-align: center;
    background-color: rgb(62, 180, 133);
    margin-left: 22%;
  }
  
  /* Fixed footer for mobile devices */
  
  .foot {
    background-color: white;
    font-size: 1rem;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    z-index: 1000;
  }
  
  .foot .foot-menu {
    display: block;
  }
  
  .foot a {
    color: black;
  }
  
  .foot ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .foot li {
    padding: .5em 1.5em;
    text-align: center;
  }
  
  .foot li:hover {
    background-color: orange;
    cursor: pointer;
  }
  
  .foot .foot-cart {
    position: relative;
  }
  
  .foot .cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 4px;
    position: absolute;
    margin: 0;
    top: 5px;
    right: 15px;
  }
  
  @media (max-width: 600px) {

    .admin-dashboard .footer {
      width: 100%;
      margin-left: 0;
      margin-bottom: 4em;
    }

    .foot {
      display: block;
    }
  }
  